@model CatsReviewApp.Models.CatReview

@{
    ViewBag.Title = "Cat Picture";

    @helper GetStatusLabel(bool? isApproved)
    {
        if (isApproved.HasValue)
        {
            if (isApproved.Value)
            {
                <span class="text-success">Approved</span>
            }
            else
            {
                <span class="text-warning">Rejected</span>
            }
        }
        else
        {
            <span class="text-muted">Pending</span>
        }
    }
}

<style>
    .picture {
        width: 100%;
    }

    .review-body {
        padding-top: 7em;
    }


</style>

<div class="container-fluid">
    <dev class="row header">
        <div class="col-md-4 col-md-offset-8">
            <a href="@Url.Action("Index")" class="button back-button">
                <i class="glyphicon glyphicon-backward"></i> return to reviews
            </a>
        </div>
    </dev>
    <div class="row">
        <div class="col-md-6">
            <img src="@Html.AttributeEncode(Model.MediaUrl)" title="@Model.ReviewText" class="picture" />
        </div>
        <div class="col-md-6 review-body">
            <p>
                Status: <strong>@GetStatusLabel(Model.IsApproved)</strong>
            </p>
            @if (!string.IsNullOrWhiteSpace(Model.Caption))
            {
                <p>
                    Cognitive Services Caption: <strong>@Model.Caption</strong>
                </p>
            }
            <blockquote class="blockquote">
                @Model.ReviewText
            </blockquote>
        </div>
    </div>
</div>